.resources {
    margin-top: 10%;
}

.resources-container {
    width: 60%;
    margin: auto;
}

.section-header {
    color: #60656F;

}

.resources-box {
    text-align: left;
    background-color: #60656F;
    color: #F6EEE3;
    padding: 50px;
    border-radius: 25px;
}

a {
    text-decoration: underline;
    color: #F6EEE3; 
}