.bottom-wave {
    margin-bottom: 10%;
    transform: rotate(180deg);
}

.facts {
    text-align: center;
}

.fact {
    display: inline-block;
    width: 20%;
}

.fact-image {
    width: 50%;
}

.fact-header {
    text-align: left;
    margin: 20px 20px 20px 150px;
    font-size: 30px;
    color: #60656F;
}

.more-facts {
    color: #60656F;
    text-align: left;
    width: 80%;
    margin: auto;
    border: solid;
    border-radius: 25px;
    border-color: #60656F;
    padding: 20px;
    margin-bottom: 5%;
}

figcaption {
    color: #60656F;
}

